<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="../assets/favicon.ico">
    <title>Categorias</title>
</head>
<body>
    <!-- Para o back end, esta pagina necessitará de um array de categorias, esse array de categorias deve conter o atributo "nome" e "qtd", respectivamente, nome da categoria e quantidade de discussões 
    -->
    <%-include("partials/header.ejs") %>

    <main class="container">
        <section class="main-content" id="home">
            <div class="card-header">
                <h1>Todas as categorias</h1>
                <a class="btn" href="/categorias/novo">Criar categoria</a>
            </div>

            <div class="card-body">
                <% categories.forEach(category => { %>
                    <div class="category">     
                        <h3><a class="grid-category-title" href="/categoria/<%=category.slug%>"><%= category.title %></a></h3>        
                        
                        <div class="discussions-number"><%= category.numberOfQuestions %> discussões </div>
                    </div>
                <% }) %>
                   
                <div class="see-more pagination">          
                    <% if (result.page > 2) { %>
                        <a href="/categoria/page/<%= result.page -1 %> "> << Anterior</a>
                        <% } else if(result.page ===2){ %>
                            <a href="/categorias"> << Anterior</a>
                            <%
                    } %>   
                    <% if (result.next) { %>
                        <a href="/categoria/page/<%= result.page+ 1 %> ">Proximo >> </a>                      
                    <% } %>
                </div>
                
        </section>
    </main>

    <%- include('partials/footer.ejs')  -%> 
</body>
</html>