<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ask.title %></title>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="ask-header">
            <h1><%= ask.title %></h1>
            <span>Postado por: Usuário<!--<%= ask.author %> -->, no dia: <%= result.date(ask.createdAt) %></span>
        </section>

        <section id="ask-body">
            <section class="comentary-author">
                <div class="author-img"></div>
                <div class="author-data">
                    <div class="author-username"> Usuário <!--<%= ask.author %> --></div>
                    <div class="author-date"><%= result.date(ask.createdAt) %></div>
                </div>
            </section>

            <article class="comentary-text">
                <span><%= result.date(ask.createdAt) %></span>
                <p><%- ask.description %></p>
            </article>
        </section>

        <% answers.forEach(answer => {%>
            <section class="answares">
                <section class="comentary-author">
                    <div class="author-img"></div>
                    <div class="author-data">
                        <div class="author-username">Usuário</div>
                        <div class="author-date"><%= result.date(answer.createdAt) %></div>
                    </div>
                </section>
    
                <article class="comentary-text">
                    <span><%= result.date(answer.createdAt) %></span>
                    <p><%- answer.description %></p>
                </article>
                
            </section>
            <% })%>
            <div class="see-more pagination">          
                <% if (result.page > 2) { %>
                    <a href="/discussao/<%= result.slug%>/page/<%= result.page -1 %> "> << Anterior</a>
                    <% } else if(result.page ===2){ %>
                        <a href="/discussao/<%=result.slug%> "> << Anterior</a>
                        <%
                } %>   
                <% if (result.next) { %>
                    <a href="/discussao/<%= result.slug %>/page/<%= result.page+1 %> ">Proximo >> </a>                      
                <% } %>
            </div>

        <section id="answare-form">
            <h2>Responder discussão</h2>

            <form method="POST" action="/salvaresposta" onsubmit="confirmDelete(event, this)">
                <div id="answer-text">
                    <label>Sua resposta</label>
                    <textarea id="answer" name="description"></textarea>
                    <input type="hidden" name="askId" value="<%= ask.id %>">
                    <input type="hidden" name="askSlug" value="<%= ask.slug %>">
                </div>
                <button class="btn">Responder</button>
            </form>
            
        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>

<script src="/tinymce/tinymce.min.js"></script>
<script> //
    tinymce.init({
        language: 'pt_BR',
        selector: "#answer",
        plugins: ["advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"]
    })
</script>

<script>
    //Função que confirma se a categoria será apagada ou não
    function confirmDelete(event, form){

        let tinymce = document.getElementById("answer")

        if(tinymce.value == "" || tinymce.value == undefined){
            event.preventDefault() //Método que interrompe o evento
            alert("Atenção: Preencha os campos antes de enviar a resposta ! \n\nObs: Se você já preencheu os campos, clique em responder novamente para confirmar o envio.")
        }
        else{
            form.submit()
        }
    }
</script>