<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Nova Pergunta</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/discussao.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="ask-header">
            <h1><%= ask.title %></h1>
            <span>Postado por: <%= ask.author %>, no dia: <%= ask.date %></span>
        </section>

        <section id="ask-body">
            <section class="comentary-author">
                <div class="author-img"></div>
                <div class="author-data">
                    <div class="author-username"><%= ask.author %></div>
                    <div class="author-date"><%= ask.date %></div>
                </div>
            </section>

            <article class="comentary-text">
                <span><%= ask.date %></span>
                <p><%= ask.text %></p>
            </article>
        </section>

        <% answers.forEach(answer => {%>
            <section class="answares">
                <section class="comentary-author">
                    <div class="author-img"></div>
                    <div class="author-data">
                        <div class="author-username"><%= answer.author %></div>
                        <div class="author-date"><%= answer.date %></div>
                    </div>
                </section>
    
                <article class="comentary-text">
                    <span><%= answer.date %></span>
                    <p><%= answer.text %></p>
                </article>
            </section>
        <% })%>

        <section id="answare-form">
            <h2>Responder discussão</h2>

            <form method="GET" action="/discussao/<%= ask.id %>">
                <textarea id="answer" name="text"></textarea>
                <button class="btn">Responder</button>
            </form>
            
        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>

<script src="/tinymce/tinymce.min.js"></script>
<script> //
    tinymce.init({
        language: 'pt_BR',
        selector: "#answer",
        plugins: ["advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"]
    })
</script>