<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu sua senha</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="../assets/favicon.ico">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="signup">
            <h1>Esqueci minha senha</h1> <!--Troquei para H1, pois influencia na pesquisa dos sites no google, portanto é uma boa prática-->
            
            <form method="POST" action="/alterar-senha">
                
                <input type="text" name="username" id="user" placeholder="Nome do usuário" aria-invalid="true" value="<%=username%>" required>
                <% if(errorUser != undefined){ %>
                    <div style="color: red; font-size: 14px;margin-bottom: 15px;"><%=errorUser%></div>
                <% } %>
                
                <input type="email" name="email" id="email" placeholder="E-mail" aria-invalid="true" value="<%=email%>"  required>
                <% if(errorEmail != undefined){ %>
                    <div style="color: red; font-size: 14px;margin-bottom: 15px;"><%=errorEmail%></div>
                <% } %>
                
                <input type="password" name="password" id="password" placeholder="Nova senha" aria-invalid="true" value="<%=password%>"  required>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar senha" value="<%=confirmPassword%>"  required>
                <% if(errorPassword != undefined){ %>
                    <div style="color: red; font-size: 14px;margin-bottom: 15px;"><%=errorPassword%></div>
                <% } %>
                
                <button type="submit">Alterar senha</button>

            </form>
            
            <a href="/entrar" id="back-button">Voltar ao login</a>

        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>