<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Home</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <div class="card">
            <div class="card-header">
                <h1>Todas as discussões</h1>
                <div class="grid-item-btn">
                    <a href="/perguntar">Abrir pergunta</a>

                </div>
            </div>
            <div class="card-body">
                <% discussao.forEach(disc => { %>
                    <div class="ask">
                        <a class="title" href="/pergunta/id"><%= disc.titulo %> </a>              
                        <div class="grid-item-category">
                            <a href="/categoria" class="category"><%= disc.categorium.titulo %></a>
                        </div>
                        <div class="user">Perguntado por: Usuário</div>
              
                        <div class="date"><%= disc.createdAt %></div>       
                              
                    </div>
                <% }) %>   
                
            
    
                
            </div>

         
            <div class="card-footer">
                <a href="">Ver mais</a>
            </div>
        </div>            
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>